<div class="footer-container">
    <div class="logo-container">
        <div class="whale-logo">
            <img src="/Footer/Marine Minds Logo.png" alt="Whale Logo">
        </div>
    </div>

    <div class="social-media">
        <a href="https://www.linkedin.com/in/yourprofile" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.google.com/intl/en-US/gmail/about/"><i class="fas fa-envelope"></i></a>
        <a href="https://x.com/MindsMarine?t=Z2hyhmp6Z_tMjXVk-xd7zw&s=08" target="_blank"><i
                class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/marine._.minds?utm_source=qr&igsh=eHJ2Mmw1dzVwcGFo" target="_blank"><i
                class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@MarineMinds-team" target=" _blank"><i class="fab fa-youtube"></i></a>
    </div>


    <p class="footer-text">2024 Marine Minds by Coral Crusaders</p>

    <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="/About/Contact">Contact Us</a>
        <a href="/About/Team">About Us</a>
    </div>

    <div class="newsletter">
        <input type="email" id="email" placeholder="Enter your email">
        <button onclick="subscribe()">Subscribe</button>
        <p id="confirmation-message"></p>
    </div>
</div>

<button class="back-to-top" onclick="scrollToTop()">Back to Top</button>
</footer>