<nav>
  <div class="nav-container">
    <a href="/" class="logo">
      <img src="/logo.png" alt="Marine Minds Logo" height="45" width="45">
      Marine Minds
    </a>
    <button class="nav-toggle" aria-label="Toggle navigation">☰</button>
    <div class="nav-items">
      <div class="nav-item"><a href="/Mystries">Mysteries</a></div>
      <div class="nav-item"><a href="/Dive">Dive</a></div>
      <div class="nav-item"><a href="/vlab">Virtual lab</a></div>

      <div class="nav-item">
        News
        <div class="dropdown">
          <a href="/Commingsoon">Coastline</a>
          <a href="/Commingsoon">Disaster</a>
          <a href="/Commingsoon">Ocean</a>
          <a href="/Commingsoon">Discovery</a>
        </div>
      </div>
      <div class="nav-item">
        About
        <div class="dropdown">
          <a href="/About/Team">Team</a>
          <a href="/About/Contact">Contact</a>
        </div>
      </div>
      <div class="nav-item">
        Community
        <div class="dropdown">
          <a href="/Commingsoon">Join Us</a>
          <a href="/Commingsoon">Donation</a>
          <a href="/Commingsoon">Event</a>
        </div>
      </div>
      <a href="/signin"><button class="signin-button">Sign In</button></a>

    </div>
  </div>
</nav>