<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Marine Minds </title>
  <!-- Add any global stylesheets or scripts here -->
  <!-- <link rel="stylesheet" href="" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" href="/logo.png" type="image/png" />
  <link rel="stylesheet" href="/Css/nav.css" />
  <!-- <link rel="stylesheet" href="/Css/hero.css" /> -->
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/Css/newhero.css" />
  <link rel="stylesheet" href="/Css/Vedio.css" />
  <link rel="stylesheet" href="/Css/Card.css" />
  <link rel="stylesheet" href="/Css/halloffame.css" />
  <link rel="stylesheet" href="/Css/FAQs.css" />
  <link rel="stylesheet" href="/Css/footer.css" />
  <link rel="stylesheet" href="/Css/dive.css" />
  <link rel="stylesheet" href="/Css/mysteries.css" />
  <link rel="stylesheet" href="/Css/team.css" />
  <link rel="stylesheet" href="/Css/contact.css" />
  <link rel="stylesheet" href="/Css/pagenotfound.css" />
  <link rel="stylesheet" href="/Css/commingsoon.css" />
  <link rel="stylesheet" href="/Css/gameui.css" />
  <!-- Link main CSS file -->
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <%- include("../includes/navbar.ejs") %>
    <div><%- body %></div>
    <%- include("../includes/footer.ejs") %>


      <script src="/js/flash.js"></script>
      <script src="/js/gameui.js"></script>
      <script src="/js/commingsoon.js"></script>
      <script src="/js/dive.js"></script>
      <script src="/js/footer.js"></script>
      <!-- <script src="/js/newhero.js"></script> -->
      <!-- <script src="/js/leaderboad.js"></script> -->
      <script src="/combined.js"></script>
      <script chatbot_id="66d456c6706e8026b8060c40"
        src="https://app.thinkstack.ai/bot/thinkstackai-loader.min.js"></script>
</body>

</html>