<div class="loading-overlay" id="loadingOverlay">
    Loading, please wait...
    <div class="loading-bar-container">
        <div class="loading-bar" id="loadingBar"></div>
    </div>
</div>

<div class="w-full bg-zinc-900">
    <div class="parent relative top-0 left-0 w-full h-[2500vh]">
        <div class="w-full sticky top-0 left-0 h-screen">
            <canvas class="w-full h-screen" id="frame"></canvas>
        </div>
    </div>
</div>
<div class="custom-scrollbar">
    <div class="scroll-thumb"></div>
    <div class="scroll-numbers"></div>
</div>