<!-- <div id="Hero-section" class="main-section"></div> -->
<header>
  <section id="home" class="section-newhero">
    <h2 id="text"><span>Uncover the Secrets of the</span><br>Ocean's Depths</h2>
    <img src="/new Hero/img/nightsky.png" id="sky" alt="Night sky">
    <img src="/new Hero/img/moon.png" id="moon" alt="Moon">
    <img src="/new Hero/img/cloud1.png" id="cloud1" alt="Cloud 1">
    <img src="/new Hero/img/cloud2.png" id="cloud2" alt="Cloud 2">
    <img src="/new Hero/img/cloud3.png" id="cloud3" alt="Cloud 3">
    <img src="/new Hero/img/sea.png" id="sea" alt="Sea">
    <img src="/new Hero/img/rock1.png" id="rock1" alt="Rock 1">
    <img src="/new Hero/img/rock2.png" id="rock2" alt="Rock 2">
    <img src="/new Hero/img/rock3.png" id="rock3" alt="Rock 3">
    <img src="/new Hero/img/plam1.png" id="coral1" alt="Coral 1">
    <img src="/new Hero/img/plam2.png" id="coral2" alt="Coral 2">
    <div id="playBtn" class="pulsing">Lets Play<span class="play-icon"></span>
      <span class="button-text"></span>
    </div>
    <div id="seaweed" class="underwater-layer"></div>
    <div id="fish" class="underwater-layer"></div>
  </section>
</header>
<div id="factPopup" class="hidden"></div>


<div id="Vedio-section" class="section">
  <!-- Video Section -->
  <div class="video-section">
    <div class="video-container">
      <video id="background-video" class="background-video" loop muted playsinline>
        <source src="/Vedio Player/underwater2.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
<div id="Card-Section" class="section"></div>
<div id="hall-of-fame-section" class="section"></div>
<div id="FAQs-section" class="section"></div>
<script src="/combined.js"></script>
<script chatbot_id="66d456c6706e8026b8060c40" src="https://app.thinkstack.ai/bot/thinkstackai-loader.min.js"></script>