<div id="map"></div>
<div id="info-panel" class="hidden">
  <h2 id="info-title"></h2>
  <p id="info-description"></p>
  <button id="go-button" class="hidden">GO</button>
  <div id="development-notice" class="hidden">This feature is currently under development. Try Titanic!</div>
  <button id="close-info">Close</button>
</div>
<button id="returnToHome"><i class="fa-solid fa-house"></i> Home</button>
<button id="play-game"><i class="fa-solid fa-gamepad"></i> Play Game</button>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>