
    <div class="wave"></div>
    <div class="Page">
      <h1 class="alert">Oops! Page Not Found.</h1>
      <p class="para">
        Looks like you've ventured into uncharted waters. Let's get you back on
        course.
      </p>
     <a href="/"><button class="return" >Go Back Home</button></a>
      <div class="navigation">
        <a href="/News">Oceans News</a>
        <a href="/Mystries">Mystery</a>
      </div>
    </div>
  </head>
</html>
