<div class="background-video-container">
  <video autoplay muted loop id="background-video">
    <source src="/About/MarineMIndsWave.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>
</div>

<div class="container-team">
  <!-- <section class="Space">
     <img
          src="/Footer/Marine Minds Logo.png"
          alt="Marine Minds Logo"
          class="logo"
        />
        <h1 class="title">Marine Minds</h1> -->
  <!-- </section> -->

  <section class="content">
    <p>
      Dive into a world of wonder with Ocean Adventure! We're a crew of marine
      explorers and digital dreamers, passionate about bringing the mysteries of
      the deep to your fingertips. Picture yourself swimming alongside playful
      dolphins, exploring ancient shipwrecks, and encountering mythical
      creatures. Our game isn't just about fun; it's a virtual voyage of
      discovery, teaching you about the ocean's delicate ecosystems and
      inspiring you to become a champion for its conservation. Buckle up, grab
      your snorkel, and get ready for an unforgettable underwater adventure!
    </p>
  </section>

  <section class="team-section">
    <h2 class="team-title">Our Team Members</h2>
    <div class="team-members">
      <div class="team-member">
        <img src="/About/Archi .webp" alt="Archi Jain" />
        <div class="team-member-info">
          <div class="team-member-name">Archi Jain</div>
          <div class="team-member-role">Project Leader & Marine Biologist</div>
        </div>
      </div>
      <div class="team-member">
        <img src="/About/Ab.jpg" alt="Anushka Bhatt" />
        <div class="team-member-info">
          <div class="team-member-name">Anushka Bhatt</div>
          <div class="team-member-role">Game Developer</div>
        </div>
      </div>
      <div class="team-member">
        <img src="yogita.jpg" alt="Yogita Tiwari" />
        <div class="team-member-info">
          <div class="team-member-name">Yogita Tiwari</div>
          <div class="team-member-role">Researcher and Content Gatherer
          </div>
        </div>
      </div>
      <div class="team-member">
        <img src="/About/ayush75.png" alt="Ayush Tiwari" />
        <div class="team-member-info">
          <div class="team-member-name">Ayush Tiwari</div>
          <div class="team-member-role"> Senior Web Developer</div>
        </div>
      </div>
      <div class="team-member">
        <img src="/About/Ayush76.jpg" alt="Ayush Tiwari" />
        <div class="team-member-info">
          <div class="team-member-name">Ayush Tiwari</div>
          <div class="team-member-role">Interactive Simulation Architect
          </div>
        </div>
      </div>
      <div class="team-member">
        <img src="/About/Krishna.jpg" alt="Krishna Sharma" />
        <div class="team-member-info">
          <div class="team-member-name">Krishna Sharma</div>
          <div class="team-member-role">UI/UX Designer</div>
        </div>
      </div>
    </div>
  </section>
</div>