body,
html {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  /* overflow-x: hidden; */
}

.background-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
}

/* .logo {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
      } */

.title {
  font-family: "Norican", cursive;
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 0;
}

.form-container {
  max-width: 800px;
  width: 100%;
  margin: 4rem auto;
  padding: 2rem;
  background-color: rgba(0, 0, 50, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.submit-btn {
  background-color: #003366;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #002244;
}

.flash-message {
  position: fixed;
  top: 100px;
  left: 20px;
  background-color: #004080;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  display: none;
  z-index: 10;
}
/* #footer-section {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    23deg,
    rgba(0, 0, 0, 1) 37%,
    rgba(0, 129, 222, 1) 73%,
    rgba(0, 129, 222, 0.975371545102416) 100%
  );
  padding: 1rem;
  text-align: center;
} */
