html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #e6f3ff;
}

#map {
  height: 100vh;
  width: 100vw;
}

#info-panel {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  width: 300px;
  z-index: 1000;
  border: 2px solid #1e90ff;
}

.hidden {
  display: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  background-color: #008cba;
  color: white;
}

button:hover {
  transform: scale(1.05);
}

#close-info,
#go-button,
#development-notice {
  margin-top: 10px;
}

#close-info {
  background-color: #ff6b6b;
}

#go-button {
  background-color: #4ecdc4;
  margin-right: 10px;
}

#development-notice {
  background-color: #ffa600;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#info-title {
  color: #1e90ff;
  margin-bottom: 10px;
}

#info-description {
  color: #333;
  line-height: 1.6;
}

#returnToHome,
#play-game {
  position: absolute;
  z-index: 1000;
  top: 10px;
}

#returnToHome {
  left: 10px;
}

#play-game {
  right: 10px;
}

@media (max-width: 600px) {
  #info-panel {
    width: 80%;
    max-width: none;
    bottom: 10px;
  }

  #returnToHome,
  #play-game {
    padding: 8px 12px;
    font-size: 14px;
  }
}
